.unset {
    all: unset;
}

.doq .link-anchor {
    position: relative;
    width: 0;
    font-size: .8em;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.doq .anchor-wrapper {
    border: none;
}
.doq  .anchor-wrapper:hover .link-anchor {
    opacity: 1;
}

.doq section h1[id]:focus,
.doq section h2[id]:focus,
.doq section h3[id]:focus,
.doq section h4[id]:focus,
.doq section h5[id]:focus {
    outline: 0;
}

.doq p.thin {
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

.doq p.bold {
    font-weight: 900;
    margin: 0;
    margin-top: -5px;
}

.doq .rel {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.doq .popper,
.doq .tooltip {
    position: absolute;
    background: #FFFFFF;
    color: black;
    /* width: 150px; */
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    z-index: 9999;
}
.doq.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 600px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
    box-shadow: 0px 0px 40px 0px #424242;
}
.doq .popper .popper__arrow,
.doq .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.doq .tooltip .tooltip-arrow,
.doq .popper .popper__arrow {
    border-color: #FFFFFF;
}
.doq.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}
.doq .popper[x-placement^="top"],
.doq .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.doq .popper[x-placement^="top"] .popper__arrow,
.doq .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.doq .popper[x-placement^="bottom"],
.doq .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.doq .tooltip[x-placement^="bottom"] .tooltip-arrow,
.doq .popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.doq .tooltip[x-placement^="right"],
.doq .popper[x-placement^="right"] {
    margin-left: 5px;
}
.doq .popper[x-placement^="right"] .popper__arrow,
.doq .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.doq .popper[x-placement^="left"],
.doq .tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.doq .popper[x-placement^="left"] .popper__arrow,
.doq .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.doq .hidden {
    display:none;
}
.doq .pell-button {
    width: auto !important;
}

.doq .annotationEdit {
    color: #000;
}

.doq .savebutton {
    background-color: #2b2b2b;
    border: 1px solid #484848;
    color: #dadada;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}

.doq .savebutton:hover {
    background-color:#333;
}

.doq .annotationEdit {
    width: 600px !important;
}
.tooltip_highlight {
    border-radius: 3px;
    box-shadow:0px 0px 0px 1px #cccccc inset;
}

.tooltip_highlight_edit {
    border-radius: 3px;
    box-shadow:0px 0px 0px 1px #ff0000 inset;
}